<h2 class="font-normal text-xl mt-5 mb-8"><%= @message %></h2>
<% if @orders.length <= 0 %>
  <%= render(EmptyRecords.new(title: "No tienes ningún envío pendiente 🥳")) %>
<% else %>
  <% @orders.each do |v| %>
    <!--Code here-->
  <% end %>
<% end %>

