<div class="w-4/12 flex flex-wrap">
  <div class="w-full h-64 bg-main-gray" id="address-map">
    <!--        MAPA-->
  </div>
  <div class="w-full mt-4">
    <!--        Place information-->
    <h3 class="font-bold">
      <%= @place.name %>
    </h3>
    <h4 class="text-sm mt-1 text-gray-600">
      <%= @place.address %>
    </h4>
  </div>
  <%= render Carts::TotalList.new(total: @total, current_cart: @current_cart, place: @place) %>
</div>