<div
  id="payment-with-cash"
  class="w-full my-8 flex justify-end flex-wrap">
  <div class="w-full flex flex-wrap px-4 py-6 rounded bg-main-gray">
    <div class="w-full mx-auto py-4">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           viewBox="0 0 48 48"
           class="h-12 w-12 mx-auto"
      >
        <path fill="#a5d6a7" d="M4 21H42V41H4z"></path>
        <path fill="#388e3c" d="M3,42h40V20H3V42z M41,22v18H5V22H41z"></path>
        <path fill="#388e3c" d="M11 29A2 2 0 1 0 11 33 2 2 0 1 0 11 29zM23 24A7 7 0 1 0 23 38 7 7 0 1 0 23 24zM8.221 21H4v4.221C4.532 25.7 5.228 26 6 26c1.657 0 3-1.343 3-3C9 22.228 8.7 21.532 8.221 21zM8.221 41C8.7 40.468 9 39.772 9 39c0-1.657-1.343-3-3-3-.772 0-1.468.3-2 .779V41H8.221zM42 41v-4.221C41.468 36.3 40.772 36 40 36c-1.657 0-3 1.343-3 3 0 .772.3 1.468.779 2H42z"></path>
        <path fill="#ff9800" d="M35.5 12A9.5 9.5 0 1 0 35.5 31A9.5 9.5 0 1 0 35.5 12Z"></path>
        <path fill="#ffcc80" d="M35.5 14.111A7.389 7.389 0 1 0 35.5 28.889A7.389 7.389 0 1 0 35.5 14.111Z"></path>
        <path fill="#ffc107" d="M29 4A11 11 0 1 0 29 26A11 11 0 1 0 29 4Z"></path>
        <path fill="#81c784" d="M33 31c0-.115.015-.225.034-.335-1.223-.328-2.347-.892-3.322-1.644C29.897 29.649 30 30.312 30 31c0 .195-.013.387-.029.578 1.387.764 2.948 1.242 4.606 1.375C33.676 32.759 33 31.959 33 31zM37 31c0 1.047-.808 1.897-1.833 1.983C35.279 32.986 35.388 33 35.5 33c1.991 0 3.865-.51 5.5-1.404v-2.36c-1.169.833-2.534 1.403-4.013 1.636C36.99 30.915 37 30.956 37 31z"></path>
        <path fill="#2e7d32" d="M42 28.415c-.314.296-.648.57-1 .821v2.36c.345-.189.677-.397 1-.619.349-.24.68-.503 1-.779v-2.882C42.695 27.709 42.361 28.075 42 28.415zM37 31c0-.044-.01-.085-.013-.128C36.501 30.949 36.007 31 35.5 31c-.854 0-1.679-.123-2.466-.335C33.015 30.775 33 30.885 33 31c0 .959.676 1.759 1.577 1.953.195.016.392.024.59.03C36.192 32.897 37 32.047 37 31z"></path>
        <path fill="#81c784" d="M20.233,24.571c0.764-0.329,1.599-0.52,2.475-0.556c-0.818-0.572-1.558-1.247-2.193-2.015h-2.452 C18.673,22.95,19.404,23.811,20.233,24.571z"></path>
        <path fill="#2e7d32" d="M20.515 22c-.506-.613-.939-1.286-1.304-2h-2.208c.293.702.654 1.367 1.06 2H20.515zM29.712 29.021c-.41-.316-.793-.665-1.147-1.043-.602-.644-1.115-1.369-1.52-2.162-.863-.155-1.691-.407-2.472-.751-.658-.29-1.282-.643-1.865-1.051-.876.036-1.711.227-2.475.556 1.545 1.417 3.429 2.462 5.52 3.002 1.043 1.667 2.492 3.054 4.219 4.006C29.987 31.387 30 31.195 30 31 30 30.312 29.897 29.649 29.712 29.021z"></path>
        <path fill="#ffe082" d="M29 6A9 9 0 1 0 29 24A9 9 0 1 0 29 6Z"></path>
        <path fill="#ffc107" d="M25.429,15.24L26.249,10h5.608v1.761h-3.879l-0.406,2.169c0.168-0.096,0.765-0.359,1.838-0.359 c1.015,0,1.796,0.289,2.341,0.869c0.546,0.581,0.821,1.199,0.821,2.246c0,0.632-0.146,1.205-0.439,1.719 c-0.294,0.514-0.704,0.907-1.233,1.181C30.369,19.862,29.746,20,29.024,20c-0.641,0-1.244-0.129-1.805-0.383 c-0.562-0.254-1.002-0.604-1.321-1.049c-0.318-0.445-0.475-0.866-0.47-1.425h2.143c0.024,0.362,0.144,0.564,0.359,0.777 c0.216,0.212,0.729,0.318,1.081,0.318c0.796,0,1.418-0.569,1.418-1.705C30.429,15.481,29.975,15,29,15 c-0.552,0-1.157,0.371-1.429,0.714L25.429,15.24z"></path>
      </svg>
    </div>
    <h2 class="font-medium w-full text-center text-lg">
      ¡Tu pago es en efectivo!
    </h2>
    <h3 class="text-sm text-gray-700 w-full my-3 text-center">Recuerda guardar tu ticket de compra</h3>
  </div>

  <div class="w-full mt-4 flex justify-end">
    <%= button_to "Realizar pedido", place_create_charge_path(@place), data: {"disable-with": "Finalizando pedido..."},
                  params: {payment_type: "cash"},
                  remote: true,
                  class: helpers.main_color_button(color: "primary")
    %>
  </div>
</div>