<div class="w-full flex flex-wrap">
  <%= render Headers::Text.new(title: "Crear empresa") %>
  <div class="w-full flex items-center justify-center">
    <%= render "form", place: @place, url: dashboard_places_path %>
  </div>
</div>

<%= javascript_pack_tag "my_profile", 'data-turbolinks-track': "reload" %>
