<header class="bg-white flex w-full mx-auto">
  <div class="w-9/12 mx-auto flex flex-wrap">
    <div class="w-full flex pt-2">
      <div class="w-auto flex items-center gap-4">
        <div class="w-auto">
          <%= link_to my_place_path do %>
            <img
              draggable="false"
              src="<%= get_image_url(20, 100, "utils/w-logo-5.png") %>"
              class="h-10"
              />
          <% end %>
        </div>
        <div class="w-auto">
          <h4 class="font-bold">
            <%#= link_to @place.name, place_path(@place.slug), target: "_blank" %>
          </h4>
        </div>
      </div>
    </div>
  </div>
</header>
<div
  data-scroll-shadow="true"
  class="w-full border-b sticky top-0 bg-white z-50">
  <div class="w-9/12 mx-auto flex flex-wrap">
    <%= render "utils/Headers/dashboard/items" %>
  </div>
</div>
