<header class="bg-white flex w-full border-b mx-auto">
  <div class="w-9/12 mx-auto flex flex-wrap">
    <div class="w-full flex">
      <div class="w-auto flex items-center gap-4">
        <div class="w-auto">
          <h3 title="Waydda Dashboard">W</h3>
        </div>
        <div class="w-auto">
          <h4 class="font-bold"><%= @place.name %></h4>
        </div>
      </div>
    </div>
    <%= render "utils/Headers/dashboard/items" %>
  </div>
</header>