<header class="bg-white flex w-full border-b mx-auto">
  <div class="w-9/12 mx-auto flex flex-wrap">
    <div class="w-full flex py-2">
      <div class="w-auto flex items-center gap-4">
        <div class="w-auto">
          <img
            draggable="false"
            src="<%= get_image_url(20, 100, "utils/w-logo-5.png") %>"
            class="h-10"
            />
        </div>
        <div class="w-auto">
          <h4 class="font-bold"><%= @place.name %></h4>
        </div>
      </div>
    </div>
    <%= render "utils/Headers/dashboard/items" %>
  </div>
</header>