<!--<h2 class="font-normal text-xl"><%#= @title %></h2>-->
<%# if @sales.length <= 0 %>
<%#= render EmptyRecords %>
<%#= render "dashboard/utils/empty_records", message: "No tienes ningún envío pendiente 🥳" %>
<%# else %>
<%# @sales.each do |v| %>
<!--    Code here-->
<%# end %>
<%# end %>

<div class="w-full py-20 bg-main-gray text-center rounded empty-records-component">
  <h4 class="text-gray-600 text-sm font-normal"><%= @title %></h4>
</div>


