<div class="sticky top-0 bg-white justify-center flex items-center border-b py-3">
  <div class="w-10/12 mx-auto flex gap-4">
    <div class="w-3/12 flex items-center <%= @place.delivery_option ? "justify-around" : "justify-start" %>">
      <% if @place.delivery_option %>
        <%= button_to place_delivery_options_path(@place.slug), data: {"disable-with": "Actualizando..."}, params: {to_state: "delivery"}, id: "menu-delivery", remote: true, method: :put, class: "text-sm w-auto py-2 hover:text-gray-600 focus:outline-none #{
        if @delivery_option.nil?
          "border-b-2 border-green-600"
        else
          @delivery_option.kind === "delivery" ? "border-b-2 border-green-600" : ""
        end}" do %>
          <span class="text-sm font-normal">Enviar a domicilio</span>
        <% end %>
      <% end %>

      <%= button_to place_delivery_options_path(@place.slug), data: {"disable-with": "Actualizando..."}, params: {to_state: "pickup"}, id: "menu-pickup", remote: true, method: :put, class: "w-auto py-2 text-sm hover:text-gray-600 focus:outline-none #{
      if @delivery_option.nil?
        ""
      else
        if @delivery_option.kind === "pickup"
          "border-b-2 border-green-600"
        else
          @place.delivery_option ? "" : "border-b-2 border-green-600"
        end
      end}" do %>
        <span class="text-sm font-normal">Recoger en tienda</span>
      <% end %>

    </div>
    <div class="w-auto flex items-center">
      <img
        class="inline"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA10lEQVRIieWSMQrCMABFnyKoOIuDHV08hIPoIoLH8Apex9HZKygewMUTFAfRrloLdWgiJbZNk1ah+OEv4ed9Qj78kxxgJ+yUDR8BZyAUvgDTsuBLwI/BpQNgBdRswW1gnQBWvQE6pvABcMwBlz4Bw7zwOeAZwKU9cTdTE+BpAZf2gXFWwaEAXHofB6oLuANN3TM1egCttIKwIPyDWy8JmKqvFzQMsi7R3iHafN+mMGsd3Viup8m+ZfLJVtnqf/LPC24puWvCWa6sOtMZsFDOA2CbADLJVlgvgcFv6queTAcAAAAASUVORK5CYII="/>
      <span>Inicio</span>
      <!--      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA60lEQVRIieWSQUrDQBhGv18ELd23i2bpJofoQtpNKXgMr9DruHTtFSwewE1PIAqhzbbWwOvCRENM0pkkLRQfDAzDN++D+Uf6NwAB8JyuoGv5GHjnlwiYdiW/B3b8JQEWgDUV94CHEnGRR6DvK78BXh3kGSsgdJXPgdhDnhED80PyCfDVQJ6xA27rCl5ayDOWeacVCraSrpzesppPM7uuKqCl/Ftq9uO96EJYx9ELLj2yb5JW6T6UNHK55DODgZlFaW4o6aNSmpuBc0H+kk/2/Id88oJNRW5dcuaULX7TmaS7wnki6alE5JM9Y/aFr5i5OGFtXAAAAABJRU5ErkJggg==">-->
    </div>
  </div>
</div>
