<div class="sticky top-0 bg-white justify-center flex items-center border-b py-3">
  <div class="w-10/12 mx-auto flex gap-4">
    <div class="w-3/12 flex items-center justify-around">
      <div class="w-auto py-2 border-b-2 border-green-600 cursor-pointer">
        <span class="text-sm font-normal">Enviar a domicilio</span>
      </div>
      <div class="w-auto py-2 cursor-pointer">
        <span class="text-sm font-normal">Recoger en tienda</span>
        <!--        TODO: Agregar suscripciones a productos o items-->
      </div>
    </div>
    <div class="w-auto flex items-center">
      <img
        class="inline"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA10lEQVRIieWSMQrCMABFnyKoOIuDHV08hIPoIoLH8Apex9HZKygewMUTFAfRrloLdWgiJbZNk1ah+OEv4ed9Qj78kxxgJ+yUDR8BZyAUvgDTsuBLwI/BpQNgBdRswW1gnQBWvQE6pvABcMwBlz4Bw7zwOeAZwKU9cTdTE+BpAZf2gXFWwaEAXHofB6oLuANN3TM1egCttIKwIPyDWy8JmKqvFzQMsi7R3iHafN+mMGsd3Viup8m+ZfLJVtnqf/LPC24puWvCWa6sOtMZsFDOA2CbADLJVlgvgcFv6queTAcAAAAASUVORK5CYII="/>
      <span>Inicio</span>
      <!--      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA60lEQVRIieWSQUrDQBhGv18ELd23i2bpJofoQtpNKXgMr9DruHTtFSwewE1PIAqhzbbWwOvCRENM0pkkLRQfDAzDN++D+Uf6NwAB8JyuoGv5GHjnlwiYdiW/B3b8JQEWgDUV94CHEnGRR6DvK78BXh3kGSsgdJXPgdhDnhED80PyCfDVQJ6xA27rCl5ayDOWeacVCraSrpzesppPM7uuKqCl/Ftq9uO96EJYx9ELLj2yb5JW6T6UNHK55DODgZlFaW4o6aNSmpuBc0H+kk/2/Id88oJNRW5dcuaULX7TmaS7wnki6alE5JM9Y/aFr5i5OGFtXAAAAABJRU5ErkJggg==">-->
    </div>
  </div>
</div>
