<div class="w-full h-xl bg-gray-300 mb-6" >

</div>
<h1>Home#index</h1>
<h1>Home#index</h1>
<h1>Home#index</h1>
<h1>Home#index</h1>
<h1>Home#index</h1>
<h1>Home#index</h1>
<h1>Home#index</h1>
<%= link_to "Mi perfil", my_profile_path %>
