<%= simple_form_for(
        @item, url: action === "edit" ? dashboard_item_path(@item) : dashboard_items_path,
        defaults: {
            input_html: {
                class: 'py-3 px-3 bg-main-gray appearance-none rounded focus:outline-none w-full mt-2 mb-4 resize-none',
                rows: "5"
            },
            label_html: {
                class: "text-sm font-normal text-gray-600"
            }
        }
    ) do |f| %>
  <%= f.input :name, label: "Nombre de la categoría", placeholder: "Ej. Ropa roja" %>
  <%= f.input :description, as: :text, label: "Descripción", placeholder: "Una breve descripción. No se motrará al público" %>
  <div class="w-full mt-8 flex justify-end">
    <%= f.button :submit,
                 data: {"disable-with": "Cargando..."},
                 value: "Crear producto",
                 class: main_color_button(color: "secondary", with_shadow: false)
    %>
  </div>
<% end %>