<div class="w-full mx-auto flex flex-wrap">
  <%= render Headers::Text.new(title: "Crear categoría", small: true, with_margin: true, padding_class: "py-2 px-4") %>
  <div class="px-4 w-full">
    <%= render "form" %>
  </div>
</div>