<div class="w-full mx-auto flex flex-wrap">
  <%= render Headers::Text.new(title: "Crear categoría", small: true, font: "small", padding_class: "px-4 py-4", with_margin: true) %>
  <div class="px-4 w-full">
    <%= render "form", custom_type: "html" %>
  </div>
</div>