<h1>Item: <%= @item.name %> </h1>

<h3>Products: <%= @item.total_products %></h3>
<%= link_to "Editar item", edit_dashboard_item_path(@item) %>
<%= button_to "Eliminar categoría", dashboard_item_path(@item), method: :delete, data: {confirm: "¿Estás seguro?", "disable-with": "Cargando..."}, class: main_color_button(color: "danger"), remote: true %>

