<%= link_to my_profile_path do %>
  <div
    title="<%= @current_address ? @current_address.address : "Selecciona tu ubicación" %>"
    style="box-shadow: 0 6px 10px 0 rgba(128,98,96,.16);"
    class="flex shadow-2xl py-3 pl-4 pr-10 relative rounded cursor-pointer">

    <div class="absolute ml-4 left-0 top-0 bottom-0 flex justify-center items-center">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           width="24" height="24"
           viewBox="0 0 48 48"
           class="text-gray-700 fill-current"
      >
        <path d="M24,4C14.626,4,7,11.626,7,21c0,4.036,1.449,7.953,4.093,11.048c0.302,0.343,7.427,8.439,9.807,10.708	C21.769,43.585,22.884,44,24,44s2.231-0.415,3.101-1.244c2.767-2.639,9.524-10.385,9.82-10.725C39.551,28.953,41,25.036,41,21	C41,11.626,33.374,4,24,4z M24,26c-2.761,0-5-2.239-5-5s2.239-5,5-5s5,2.239,5,5S26.761,26,24,26z"></path>
      </svg>
      <!--    text-black text-gray-900-->
    </div>
    <h4
      id="address_value"
      class="font-normal ml-8 text-gray-800 truncate "><%= @current_address ? @current_address.address : "Selecciona tu ubicación" %></h4>
    <div class="absolute mr-4 right-0 top-0 bottom-0 flex justify-center items-center">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           width="24" height="24"
           class="text-gray-700 fill-current"
           viewBox="0 0 24 24"
      >
        <path d="M5.707,10.707l5.586,5.586c0.391,0.391,1.024,0.391,1.414,0l5.586-5.586C18.923,10.077,18.477,9,17.586,9H6.414 C5.523,9,5.077,10.077,5.707,10.707z"></path>
      </svg>
    </div>
  </div>
<% end %>
