<div class="w-full py-3 fixed top-0 left-0 right-0 z-50 bg-white flex px-4 justify-between items-center">
  <div class="w-1/12">
    <div class="w-full flex">
      <%= link_to my_place_path, title: "Waydda index dashboard" do %>
        <img
          draggable="false"
          src="<%= helpers.get_image_url(20, 100, "utils/w-logo-5.png") %>"
          class="h-10"
          />
      <% end %>
    </div>
  </div>
  <div class="w-1/12 flex justify-end">
    <img
      class="h-10 cursor-pointer w-10 lazy"
      data-src="<%= helpers.get_image_url(50, 50, "utils/icons8-test-account-96.png") %>"
      src="<%= helpers.get_image_url(5, 5, "utils/icons8-test-account-96.png") %>"
      alt="Waydda profile picture"
    >
  </div>
</div>