<% if @cart_items.length <= 0 %>
  <div class="text-center mt-12 w-full">
    <img
      class="h-xl mx-auto mb-12 lazy"
      src="<%= get_image_url(10, 10, "utils/flame-777.png") %>"
      data-src="<%= get_image_url(400, 400, "utils/flame-777.png") %>"
      alt="Waydda Empty Cart"
      />
    <h4 class="text-center font-normal text-lg text-gray-800">Aún no tienes productos en tu carrito</h4>
  </div>
<% else %>
  <%= render Carts::Form.new(cart_items: @cart_items, address: @address, place: @place, current_cart: @current_cart, total: @total, current_user: current_user, current_address: @current_address, available_distance: @available_distance) %>
<% end %>
<!--CARDS-->
