<div class="w-full mt-5 mb-8">
  <h2 class="font-normal text-xl">Vistos recientemente</h2>
</div>
<% if @products.length <= 0 %>
  <%= render(EmptyRecords.new(title: "Aún no hay productos para mostrar")) %>
<% else %>
  <div class="flex w-full mt-4">
    <%= render Products::List.new(products: @products, in_dashboard: true, place: @place) %>
  </div>
<% end %>

