<%= render Headers::Text.new(title: "#{@product.name}") %>
<h1>Variantes</h1>
<div class="w-full">
  <%= render "dashboard/aggregates/list", aggregates: @product.aggregates %>
</div>
<div class="w-full">
  <%= render 'form', product: @product %>
</div>

