<h1>Mis productos</h1>
<% if @products.length <= 0 %>
  <h2>Aún no has agregado productos</h2>
<% end %>
<% if @products.length > 0 %>
  <div class="grid grid-cols-12">
    <% @products.each do |product| %>
      <div class="col-span-12 bg-gray-300 p-3 mb-2">
        <p>
          <%= link_to product.name, dashboard_product_path(product.slug) %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
<%= link_to "Agregar producto", new_dashboard_product_path %>
