<% set_meta_tags title: "Nuevo producto | Panel de control",
                 description: "Agrega un nuevo producto - Waydda"
%>
<div class="w-full">
  <%= render Headers::Text.new(title: "Nuevo producto", subtitle: "Añade un nuevo producto a tu colección", small: false, with_border: false, padding_class: @product.new_record ? "py-8" : "py-4") %>
  <%= render Dashboard::Products::Layout.new(product: @product)  %>
</div>