<h1>New Address</h1>
<%#= react_component('User/Edit', {states: CS.get(:mx), current_user: current_user, current_user_id: current_user.id.to_s}, {prerender: false}) %>

<%= link_to 'Back', addresses_path %>
