<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<!--<p>-->
<!--  <strong>Business:</strong>-->
  <%#= @item.business_id %>
<!--</p>-->

<!--<%#= link_to 'Edit', edit_item_path(@item) %> |-->
<%#= link_to 'Back', items_path %>
