<div class="w-full mb-3 <%= helpers.border_color %>">
  <h3 class="text-xl font-medium p-3 bg-main-gray">Mapa</h3>
  <div class="h-56 w-56 bg-main-gray" id="map" data-map-lng="<%= @order.address.lng %>" data-map-lat="<%= @order.address.lat %>" ></div>
</div>
<%= javascript_pack_tag 'dashboard/orders/show', 'data-turbolinks-track': 'reload' %>
