<div class="z-20 bottom-0 mx-auto w-9/12 mt-10">
  <div id="flash-notice" class="transition w-full duration-300 truncate cursor-pointer px-4 py-4 text-white rounded <%= @kind === "success" ? "bg-indigo-600" : "bg-red-500" %>">
    <p class="font-normal"><%= @alert %></p>
  </div>
</div>