<div class="fixed z-20 bottom-0 translate-middle mb-10 mx-auto">
  <div id="flash-notice" class="transition duration-300 text-center cursor-pointer px-4 py-3 text-white rounded shadow <%= @kind === "success" ? "bg-indigo-600" : "bg-red-500" %>">
    <p class="text-sm font-normal"><%= @alert %></p>
  </div>
</div>