<div class="w-full mx-auto flex justify-center mt-10">
  <img
    class="lazy h-64 w-64"
    data-src="<%= get_image_url(400, 400, "kingdom-2.svg", "contain") %>"
    src="<%= get_image_url(10, 10, "kingdom-2.svg", "contain") %>"
    alt="Image page under construction"
  >

</div>
<div class="w-full mt-10">
  <h2 class="text-3xl uppercase text-center font-medium">
    ¡Próximamente!
  </h2>
</div>