/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./addresses";


body, html {
  margin: 0;
  padding: 0;
  font-size: 16px !important;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300 !important;
  background-color: #fff;
}


.sidebar-overlay {
  transition: all .5s;
}

.location:hover .location-icon {
  display: flex;
}

.location-icon {
  display: none;
}

.translate-y-full-custom {
  transform: translateY(300%);
}

.translate-middle {
  left: 50%;
  transform: translate(-50%, 0);
}

.main-box-shadow {
  box-shadow: rgb(0, 0, 0) 3px 3px 0px !important;
}

.main-input {
  background: #f3f3f3 !important;
  //bg-main-gray focus: outline-none
}

.main-input:focus {
  outline: none !important;
}

.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default;
}

.turbolinks-progress-bar {
  background-color: #2befb2;
}

.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
  color: #aaaaaa;
}

.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
  text-decoration: none;
  color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline;
}