.pagination {

}

.breadcrumbs {
    font-weight: normal;
    color: #a4b6cc;
}
.breadcrumbs div{
    display: inline;
}
.breadcrumbs div a:hover {
    border-radius: 3px;
    background: #eeeeee;
    cursor: pointer;
}
.breadcrumbs div{
    color: #333333;
}
.breadcrumbs div a {
    color: #333333;
    padding: .2em .6em;
}

::selection {
    background: #79fee0; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #79fee0; /* Gecko Browsers */
}

.pagination > .disabled {
    opacity: 0.6;
    cursor: not-allowed;
    font-width: 400;
}

.pagination .current {
    padding: 0 .4em;
}

a[rel~="prev"] {
    padding: 0 .4em;
}

