.pagination {

}

::selection {
    background: #79fee0; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #79fee0; /* Gecko Browsers */
}

.pagination > .disabled {
    opacity: 0.6;
    cursor: not-allowed;
    font-width: 400;
}

.pagination .current {
    padding: 0 .4em;
}

a[rel~="prev"] {
    padding: 0 .4em;
}

