<div class="w-full mt-4 text-gray-600 text-sm">
  <span class=""><%= link_to "Ajustes", dashboard_edit_my_place_path, class: "hover:underline" %>
    <span class="mx-2 select-none">></span><span class="text-indigo-700 font-medium">Zona de peligro</span></span>
</div>
<%= render Headers::Text.new(title: "Zona de peligro", small: true, with_margin: true) %>
<div class="w-full flex flex-wrap border p-4 mt-4 divide-y divide-gray-400 rounded bg-main-gray">

  <div class="w-full flex items-center py-4">
    <div class="w-6/12">
      <p class="font-normal">
        <% if @place.active? %>
          Desactivar empresa
        <% else %>
          Activar empresa
        <% end %>
      </p>
      <small>
        <% if @place.active? %>
          Al desactivar tu empresa ya no podrás aceptar pedidos ni se listarán tus productos.
          <% else %>
          Al activar tu empresa podrás aceptar pedidos y todos tus productos se listarán.
      <% end %>
        <!--        Elimina todos tus productos, clientes y registros. Está acción es irreversible-->
      </small>
    </div>
    <div class="w-6/12 flex justify-end">
      <% if @place.status == "inactive" %>
        <%= button_to "Activar",
                      dashboard_place_path(@place.slug),
                      params: {to_action: "activate"},
                      method: :put,
                      remote: true,
                      data: {"disable-with": "Cargando..."},
                      class: main_color_button(color: "primary")
        %>
      <% else %>
        <%= button_to "Desactivar",
                      dashboard_place_path(@place.slug),
                      params: {to_action: "deactivate"},
                      method: :put,
                      remote: true,
                      data: {"disable-with": "Cargando..."},
                      class: main_color_button(color: "danger")
        %>
      <% end %>
    </div>
  </div>
</div>

