<div class="w-full mt-4 text-gray-600 text-sm">
  <span class=""><%= link_to "Ajustes", dashboard_edit_my_place_path, class: "hover:underline" %>
    <span class="mx-2 select-none">></span><span class="text-indigo-700 font-medium">Envíos</span></span>
</div>
<%= render Headers::Text.new(title: "Envíos", small: true, subtitle: "Gestiona los costos de tus envíos") %>
