<div class="w-full rounded flex-wrap">
  <% if @aggregates.length <= 0 %>
    <%= render EmptyRecords.new(title: "Aún no has agregado ninguna variante") %>
  <% else %>
    <div class="w-full flex px-4 gap-4 py-2 border-b border-t">
      <div class="w-2/5">
        <span class="text-xs text-gray-700 font-normal uppercase">Nombre</span>
      </div>
      <div class="w-1/5">
        <span class="text-xs text-gray-700 font-normal uppercase">Precio</span>
      </div>
      <div class="w-1/5">
        <span class="text-xs text-gray-700 font-normal uppercase">Creado</span>
      </div>
      <div class="w-1/5">
        <span class="text-xs text-gray-700 font-normal uppercase">Acciones</span>
      </div>
    </div>
    <div class="w-full flex flex-wrap divide-y divide-gray-300" id="aggregates-list">
      <% @aggregates.each do |aggregate| %>
        <%= render Dashboard::Aggregates::Item.new(aggregate: aggregate, aggregate_category: @aggregate_category, product: @product) %>
      <% end %>
      <%# end %>
    </div>
  <% end %>
</div>