<div class="w-full rounded flex-wrap">
  <% if @aggregates.length <= 0 %>
    <%= render EmptyRecords.new(title: "Aún no has agregado ninguna variante") %>
  <% else %>
    <div class="w-full flex px-4 py-2 border-b border-t">
      <div class="w-2/4">
        <span class="text-xs text-gray-700 font-normal uppercase">Nombre</span>
      </div>
      <div class="w-1/4">
        <span class="text-xs text-gray-700 font-normal uppercase">Precio</span>
      </div>
      <div class="w-1/4">
        <span class="text-xs text-gray-700 font-normal uppercase">Creado</span>
      </div>
    </div>
    <div class="w-full flex flex-wrap divide-y divide-gray-300">
      <% @aggregates.each_with_index do |aggregate, i| %>
        <div class="w-full flex p-3 px-4">
          <div class="w-2/4">
            <span class="font-medium text-sm truncate"><%= aggregate.name %></span>
          </div>
          <div class="w-1/4">
            <span class="text-sm truncate"><%= helpers.number_to_currency(aggregate.price, format: "%u %n") %></span>
          </div>
          <div class="w-1/4">
            <span class="text-sm truncate"><%= helpers.time_ago_in_words(aggregate.created_at) %></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>