<% if @aggregates.length <= 0 %>
  <%= render EmptyRecords.new(title: "Aún no has agregado ninguna variante") %>
<% else %>
  <% @aggregates.each do |aggregate| %>
    <div class="w-full flex items-center gap-4 mb-2">
      <div class="w-12 h-12">
        <img src="<%= helpers.get_image_url(80, 80, aggregate.photo) %>" alt="">
      </div>
      <div class="w-9/12">
        <h4 class="<%= @size == "small" ? "text-sm" : "text-base" %> text-gray-800 truncate"><%= aggregate.name || "Sin nombre" %></h4>
      </div>
    </div>
  <% end %>
<% end %>
