<div class="w-full flex <%= @small ? "py-8" : "py-12" %> items-center">
  <div class="w-6/12">
    <h1 class="text-4xl font-bold"><%= @title %></h1>
  </div>
  <div class="w-6/12 flex justify-end">
    <%= content %>
  </div>
</div>